pkgbase = fceux-portable
	pkgdesc = Fast and ultra-compatible NES/Famicom emulator
	pkgver = 2.6.6
	pkgrel = 1
	url = https://fceux.com
	arch = x86_64
	license = LicenseRef-fceux
	makedepends = coreutils
	makedepends = portable-packer
	depends = gd
	depends = libarchive
	depends = lua
	depends = minizip
	depends = qt6-base
	depends = sdl2
	depends = libglvnd
	depends = bash
	depends = sdl2-compat
	depends = libgcc
	depends = x264
	depends = libstdc++
	depends = x264
	depends = zlib
	optdepends = ffmpeg: for recording
	provides = fceux
	conflicts = fceux
	replaces = fceux
	options = !emptydirs
	options = !debug
	source = config.toml
	source = com.fceux.FCEUX.desktop
	sha256sums = ae5414c4eba2d5755ad2e6483426d33e8d081f16553d7a90f3c5391428ea26aa
	sha256sums = 7b742a4ee4b5b0f99bc35533fd42112fe5695e487b7393284a493dfaed50faaa

pkgname = fceux-portable
	depends = portable
