[Desktop Entry]
Type=Application
Version=1.0
Name=Fceux
GenericName=NES/Famicom emulator
NoDisplay=false
Comment=Emulate NES ROMs
Exec=env PORTABLE_CONF=com.fceux.FCEUX portable --forward-file -- %f
Icon=/usr/share/pixmaps/fceux1.png
Terminal=false
MimeType=application/x-nes-rom
Categories=Game;Emulator;
Encoding=UTF-8
