pkgbase = discord-portable
	pkgdesc = All-in-one voice and text chat for gamers. Sandboxed for privacy.
	pkgver = 0.0.131
	pkgrel = 1
	epoch = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	makedepends = portable-packer
	makedepends = discord
	provides = discord
	provides = discord-sandbox
	provides = discord-portable
	conflicts = discord
	replaces = discord-bwrap
	options = !debug
	options = !strip
	source = config.toml
	source = discord.sh
	source = discord.desktop
	sha512sums = bb7569b5cc07017adba112d1a70ecf4242ed645b202d463c3c37dc6aae94d24c13417c8542eebc5737103df25d5bc5ff19644fe3515608aa307034610db778bc
	sha512sums = 412d788d281267800c9f9fe65ac356b943aeac2c66a12fba50f5a2012387b18626ab3e8dcce915f0f7330998959320b451b0cc88acf8457c8ed74ae9ed674399
	sha512sums = 6f08846021880789769f6739088b9d732d5448d60a4f4ca2a0aa85d3ba10766ee9aa64084ccd5ae0182c2fca076a154db802621ef9a958245ec4e914d2813f01

pkgname = discord-portable
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	depends = libpulse
	depends = libappindicator-gtk3
	depends = portable
