pkgbase = alpaca-portable
	pkgdesc = An Ollama client sandboxed by portable
	pkgver = 9.2.3
	pkgrel = 1
	url = https://github.com/Jeffser/Alpaca
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = portable-packer
	depends = dconf
	depends = glib2
	depends = gst-plugin-pipewire
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libportal
	depends = libspelling
	depends = pango
	depends = python
	depends = python-cairo
	depends = python-gobject
	depends = python-html2text
	depends = python-markitdown
	depends = python-matplotlib
	depends = python-odfpy
	depends = python-ollama
	depends = python-opencv
	depends = python-pillow
	depends = python-pyicu
	depends = python-pydbus
	depends = python-requests
	depends = python-zstandard
	depends = vte4
	depends = webkitgtk-6.0
	provides = alpaca-ai
	conflicts = alpaca-ai
	options = !strip
	source = config.toml
	source = desktop.file
	sha256sums = 911d922361d18c5e4935533cd9f7bd84676c68594f71028c21ed7a3db4ecf993
	sha256sums = 3ec14cb7441d7e76d2195681d667970a7a3f8fed04b594abf66397be3716d1a0

pkgname = alpaca-portable
	depends = dconf
	depends = glib2
	depends = gst-plugin-pipewire
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libportal
	depends = libspelling
	depends = pango
	depends = python
	depends = python-cairo
	depends = python-gobject
	depends = python-html2text
	depends = python-markitdown
	depends = python-matplotlib
	depends = python-odfpy
	depends = python-ollama
	depends = python-opencv
	depends = python-pillow
	depends = python-pyicu
	depends = python-pydbus
	depends = python-requests
	depends = python-zstandard
	depends = vte4
	depends = webkitgtk-6.0
	depends = portable
