pkgbase = musicxx-portable
	pkgdesc = Audio and video player
	pkgver = 0.85.7
	pkgrel = 2
	url = https://github.com/coolight7/musicxx
	arch = x86_64
	license = MIT
	makedepends = musicxx-bin
	makedepends = portable-packer
	makedepends = desktop-file-utils
	depends = gtk3
	depends = util-linux-libs
	depends = xz
	provides = musicxx
	conflicts = musicxx
	options = !debug
	source = com.mimicry.musicxx.desktop
	source = portable-config
	sha512sums = d798a4b5fac7adedf5372257e239a349ee4c87992903d61b62d10310cbb55586da7f2f207a35c8ab5acd5d9bd601cae60707f1faf1f0a92e611cbcf0ebb743c0
	sha512sums = ad2bc9d5ce61f1bed19c0225a20a7f7895ae41b9e907c091a874a11473fe2ceae5c3b193081450ece96e3f1a6072019cee65fe95ee00d8d0425fb05e446edbb9

pkgname = musicxx-portable
