pkgbase = musicxx-portable
	pkgdesc = Audio and video player
	pkgver = 0.85.7
	pkgrel = 1
	url = https://github.com/coolight7/musicxx
	arch = x86_64
	license = MIT
	makedepends = musicxx-bin
	makedepends = portable-packer
	makedepends = desktop-file-utils
	depends = gtk3
	depends = util-linux-libs
	depends = xz
	provides = musicxx
	conflicts = musicxx
	options = !debug
	source = com.mimicry.musicxx.desktop
	source = portable-config
	sha512sums = 7223ce36b27b21dd04b2ca1e3f8db34db883c688725049dbada51b20001fbdaa79bed8e9d94a06a283ed39514c6d92dbfcd633a11356f0016dbf6beafdbaf614
	sha512sums = ad2bc9d5ce61f1bed19c0225a20a7f7895ae41b9e907c091a874a11473fe2ceae5c3b193081450ece96e3f1a6072019cee65fe95ee00d8d0425fb05e446edbb9

pkgname = musicxx-portable
