pkgbase = musicxx-portable
	pkgdesc = Audio and video player
	pkgver = 0.86.8
	pkgrel = 2
	url = https://github.com/coolight7/musicxx
	arch = x86_64
	license = MIT
	makedepends = musicxx-bin
	makedepends = portable-packer
	makedepends = desktop-file-utils
	depends = gtk3
	depends = util-linux-libs
	depends = xz
	provides = musicxx
	conflicts = musicxx
	options = !debug
	source = com.mimicry.musicxx.desktop
	source = config.toml
	sha512sums = d798a4b5fac7adedf5372257e239a349ee4c87992903d61b62d10310cbb55586da7f2f207a35c8ab5acd5d9bd601cae60707f1faf1f0a92e611cbcf0ebb743c0
	sha512sums = 67acd058f721c1d6940c158b8f66949c4f53ace2bab2d2c0a95023a0acbb17dc107d23a7a183fac519eb52b7aec1c381d2e0e90d976007a0c4529430d1363f93

pkgname = musicxx-portable
