pkgbase = heroic-games-launcher-portable
	pkgdesc = Heroic sandboxed by portable
	pkgver = 2.20.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = heroic-games-launcher-bin
	makedepends = portable-packer
	provides = heroic-games-launcher
	conflicts = heroic-games-launcher
	options = !debug
	options = !strip
	source = config.toml
	source = desktop.file
	md5sums = edd175309382ef8b40907f6d17218996
	md5sums = c8ad9b12ff79ccb596eccc150376cc92

pkgname = heroic-games-launcher-portable
	depends = portable
	depends = fuse2
	depends = gawk
	depends = python-wheel
	depends = python-setuptools
