pkgbase = heroic-games-launcher-portable
	pkgdesc = Heroic sandboxed by portable
	pkgver = 1
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = any
	license = GPL-3.0-or-later
	makedepends = heroic-games-launcher-bin
	provides = heroic-games-launcher
	conflicts = heroic-games-launcher
	options = !debug
	options = !strip
	source = portable-config
	source = start.sh
	source = desktop.file
	md5sums = 044ab507d14e59b9029ef1aaef0ed16f
	md5sums = 21e405b16724fb50b0140e26d288773a
	md5sums = c8ad9b12ff79ccb596eccc150376cc92

pkgname = heroic-games-launcher-portable
	depends = portable
