pkgbase = wps-office-365-portable
	pkgdesc = Kingsoft Office (WPS Office) CN version - an office productivity suite
	pkgver = 12.8.2.21176.portable
	pkgrel = 4
	url = https://365.wps.cn/
	arch = x86_64
	license = LicenseRef-WPS-EULA
	makedepends = desktop-file-utils
	makedepends = wps-office-365
	makedepends = portable
	depends = fontconfig
	depends = libxrender
	depends = xdg-utils
	depends = glu
	depends = coreutils
	depends = libpulse
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libtiff
	depends = libxslt
	depends = libjpeg-turbo
	depends = libpng
	depends = freetype2
	conflicts = kingsoft-office
	conflicts = wps-office
	conflicts = wps-office-365
	conflicts = wps-office-cn-bwrap
	replaces = wps-office-cn-bwrap
	options = !emptydirs
	source = portable-config
	source = wps365-open
	source = cn.wps.wps_365.desktop
	source = wps
	sha1sums = 0c74705be77e05bce29cbad6560c1fb4e3b9bbd5
	sha1sums = 0cb27cb3a49735bab9314896980679a4b0eca54e
	sha1sums = 9b1b7676f54dd9f7419a7c72275cdef8adb1c754
	sha1sums = 0ac126e52e4818d1c409ffaac46a88a3e9223c43

pkgname = wps-office-365-portable
	depends = fontconfig
	depends = libxrender
	depends = xdg-utils
	depends = glu
	depends = coreutils
	depends = libpulse
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libtiff
	depends = libxslt
	depends = libjpeg-turbo
	depends = libpng
	depends = freetype2
	depends = fontconfig
	depends = xorg-mkfontscale
	depends = libxrender
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = xdg-utils
	depends = glu
	depends = sdl2
	depends = libpulse
	depends = hicolor-icon-theme
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libxslt
	depends = libjpeg-turbo
	optdepends = cups: Printing support
	optdepends = libjpeg-turbo: JPEG image codec support
	optdepends = pango: for complex (right-to-left) text support
	optdepends = curl: An URL retrieval utility and library
	optdepends = ttf-wps-fonts: Symbol fonts required by wps-office
	optdepends = ttf-ms-fonts: Microsft Fonts recommended for wps-office
	optdepends = wps-office-fonts: FZ TTF fonts provided by wps community
	optdepends = wps-office-mui-zh-cn: zh_CN support for WPS Office
