pkgbase = wps-office-365-portable
	pkgdesc = Kingsoft Office (WPS Office) CN version - an office productivity suite
	pkgver = 12.8.2.21176.portable
	pkgrel = 1
	url = https://365.wps.cn/
	arch = x86_64
	license = LicenseRef-WPS-EULA
	makedepends = desktop-file-utils
	makedepends = wps-office-365
	makedepends = portable
	conflicts = kingsoft-office
	conflicts = wps-office
	conflicts = wps-office-365
	conflicts = wps-office-cn-bwrap
	replaces = wps-office-cn-bwrap
	options = !emptydirs
	source = portable-config
	source = wps365-helper
	source = cn.wps.wps_365.desktop
	sha1sums = c8f4b13d06ed296990e7035aaa332346bf0effbd
	sha1sums = 75e7b46c6ec8679cd182806585d811b662ba0c58
	sha1sums = bdf9290ef3e2a07db8a272fe272803286476523a

pkgname = wps-office-365-portable
	depends = fontconfig
	depends = xorg-mkfontscale
	depends = libxrender
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = xdg-utils
	depends = glu
	depends = sdl2
	depends = libpulse
	depends = hicolor-icon-theme
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libxslt
	depends = libjpeg-turbo
	optdepends = cups: Printing support
	optdepends = libjpeg-turbo: JPEG image codec support
	optdepends = pango: for complex (right-to-left) text support
	optdepends = curl: An URL retrieval utility and library
	optdepends = ttf-wps-fonts: Symbol fonts required by wps-office
	optdepends = ttf-ms-fonts: Microsft Fonts recommended for wps-office
	optdepends = wps-office-fonts: FZ TTF fonts provided by wps community
	optdepends = wps-office-mui-zh-cn: zh_CN support for WPS Office
