pkgbase = jellyfin-desktop-portable
	pkgdesc = Jellyfin Desktop. Sandboxed to prevent dGPU wakeups.
	pkgver = 2.0.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = jellyfin-desktop
	makedepends = portable
	provides = jellyfin-media-player
	provides = jellyfin-desktop
	conflicts = jellyfin-media-player
	conflicts = jellyfin-desktop
	replaces = jellyfin-media-player-portable
	options = !debug
	options = !strip
	source = portable-config
	source = jellyfin-media-player.desktop
	md5sums = 886c7336ab017afd8d2d9a3acbbb18e8
	md5sums = d82778df35e3aca815ba3a75a2d267e1

pkgname = jellyfin-desktop-portable
	depends = portable
	depends = mpv
	depends = mpvqt
	depends = libcec
	depends = sdl2
	depends = p8-platform
	depends = protobuf
	depends = qt6-webengine
	depends = qt6-declarative
