pkgbase = hmcl-portable
	pkgdesc = A Minecraft Launcher which is multi-functional, cross-platform and popular. Sandboxed by portable.
	pkgver = 3.12.4
	pkgrel = 1
	url = https://hmcl.huangyuhui.net
	arch = any
	license = Apache
	makedepends = desktop-file-utils
	makedepends = portable-packer
	makedepends = hmcl
	depends = hicolor-icon-theme
	depends = portable
	source = net.huangyuhui.hmcl.desktop
	source = portable-config
	sha256sums = 744da95283655004d6e231cca886587a9abd3fef47d181b6be3988b21661ad03
	sha256sums = a0ec6686c8560b228a57d2bd3714668f3b8772a6e768f81011dd33b33d1f83ee

pkgname = hmcl-portable
