pkgbase = chaoxing-portable
	pkgdesc = 超星学习通 sandboxed by portable
	pkgver = 1.4.2
	pkgrel = 2
	url = https://i.chaoxing.com
	arch = any
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = python-cryptography
	makedepends = imagemagick
	makedepends = portable-packer
	provides = chaoxing
	conflicts = chaoxing
	options = !strip
	source = config.toml
	source = desktop.file
	source = patch.py
	source = unpack.py
	sha256sums = 9a40af765e9b3312bb60fd1b5f027854485f5c9ec1cc579d7717a1a09ac510e6
	sha256sums = 4df29dc7d3f6caeae99593124f43a60b013a6408263b1a1ecd96d73f0846a9ac
	sha256sums = 98a9cdb346c2dc7d707e9e1c026dc32bede69f9dfc00e9e966305bc1b97a1bc0
	sha256sums = 92b82f2d59ec99004842bffd0c916f1e3df3fea04840fe9685903e3cbc6d2775

pkgname = chaoxing-portable
	depends = portable
	depends = electron
	depends = openssl-1.1
