pkgbase = chaoxing-portable
	pkgdesc = 超星学习通 sandboxed by portable
	pkgver = 1.4.2
	pkgrel = 1
	url = https://i.chaoxing.com
	arch = any
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = python-cryptography
	makedepends = imagemagick
	makedepends = portable-packer
	provides = chaoxing
	conflicts = chaoxing
	options = !strip
	source = config.toml
	source = desktop.file
	source = patch.py
	source = patch-fingerprint.py
	source = unpack.py
	sha256sums = 9a40af765e9b3312bb60fd1b5f027854485f5c9ec1cc579d7717a1a09ac510e6
	sha256sums = 4df29dc7d3f6caeae99593124f43a60b013a6408263b1a1ecd96d73f0846a9ac
	sha256sums = 98b065a95c1b28fb6ad4ec0e2dfad7de574e2d7592976f9d5799f5aac18d8147
	sha256sums = bbf762821ffe1cbb5bdefd85f00f3f2fcfdb5594958b8889ef669344fc85a642
	sha256sums = 92b82f2d59ec99004842bffd0c916f1e3df3fea04840fe9685903e3cbc6d2775

pkgname = chaoxing-portable
	depends = portable
	depends = electron
	depends = openssl-1.1
