pkgbase = chaoxing-portable
	pkgdesc = 超星学习通 sandboxed by portable
	pkgver = 1.4.2
	pkgrel = 1
	url = https://i.chaoxing.com
	arch = any
	license = LicenseRef-custom
	makedepends = 7zip
	makedepends = python-cryptography
	makedepends = imagemagick
	makedepends = portable-packer
	provides = chaoxing
	conflicts = chaoxing
	options = !strip
	source = config.toml
	source = desktop.file
	source = patch.py
	source = unpack.py
	sha256sums = 841343a292706590347565cf669d09086fe2689692c07eb121942a52f32b2a52
	sha256sums = 19d45e8381704d27e10743d631d226e2bef82013285e9132859631b1ef567a25
	sha256sums = e679eb2e73ef9876463d6d88abaff8a70c9db6948e972feba5d8fd79e5f9600d
	sha256sums = 92b82f2d59ec99004842bffd0c916f1e3df3fea04840fe9685903e3cbc6d2775

pkgname = chaoxing-portable
	depends = portable
	depends = electron
	depends = openssl-1.1
