pkgbase = prismlauncher-portable
	pkgdesc = Minecraft launcher with ability to manage multiple instances. Sandboxed by portable.
	pkgver = 9.4
	pkgrel = 6
	url = https://prismlauncher.org
	arch = x86_64
	license = GPL-3.0-only AND LGPL-3.0-or-later AND LGPL-2.0-or-later AND Apache-2.0 AND MIT AND LicenseRef-Batch AND OFL-1.1
	makedepends = desktop-file-utils
	makedepends = prismlauncher
	depends = glibc
	depends = gcc-libs
	depends = java-runtime
	depends = libgl
	depends = qt6-base
	depends = qt6-5compat
	depends = qt6-svg
	depends = qt6-imageformats
	depends = qt6-networkauth
	depends = quazip-qt6
	depends = zlib
	depends = hicolor-icon-theme
	depends = tomlplusplus
	depends = cmark
	depends = portable
	optdepends = visualvm: Profiling support
	provides = prismlauncher
	provides = prismlauncher-portable
	provides = prismlauncher-bwrap
	conflicts = prismlauncher
	replaces = prismlauncher-bwrap
	source = portable-config
	source = desktop.file
	b2sums = 9207b8b3001285fae586f40e0284873173de8ee52e3a4407e67197ed3fac064de44b0ea90c252f7dfe834a85aa7149d270f9906ee2d2618a814b1803108b804c
	b2sums = 8370d9a7b7f60ec115cad0c2c4d86cdaebbd2f1e5cd5c4d5b8525310aac8751397d59a09440058db67e9a6f1adbd5b227333f6cd03c7eb4cab66dad2c9035f2c

pkgname = prismlauncher-portable
