pkgbase = firefox-nightly-portable
	pkgdesc = Firefox sandboxed by portable (en_US locale)
	pkgver = 2025_12_28
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = firefox-nightly-en-us
	makedepends = coreutils
	provides = firefox-nightly
	conflicts = firefox-nightly
	options = !debug
	options = !strip
	source = portable-config
	source = firefox.sh
	source = firefox.desktop
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = firefox-nightly-portable
	depends = portable
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
