pkgbase = baidunetdisk-portable
	pkgdesc = Baidu Netdisk sandboxed by portable
	pkgver = 4.17.7
	pkgrel = 1
	url = https://pan.baidu.com
	arch = x86_64
	license = LicenseRef-custom
	makedepends = desktop-file-utils
	makedepends = portable-packer
	provides = baidunetdisk
	conflicts = baidunetdisk
	options = !strip
	source = config.toml
	sha256sums = 120f0583feb8b30d5cfd683d15f7b3b033701be1f464e0bf04311607c68f3d0b
	source_x86_64 = baidunetdisk-portable-4.17.7.deb::http://wppkg.baidupcs.com/issue/netdisk/Linuxguanjia/4.17.7/baidunetdisk_4.17.7_amd64.deb
	sha256sums_x86_64 = 50ec18f05626a13f57ef034630416d481682bc1018539f33397d5c71bc653b3d

pkgname = baidunetdisk-portable
	depends = portable
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = gtk3
	depends = nss
