pkgbase = epiphany-portable
	pkgdesc = Epiphany sandboxed by portable, avoids dGPU wakeups
	pkgver = 143.0.4
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = epiphany
	provides = epiphany
	conflicts = epiphany
	options = !debug
	options = !strip
	source = portable-config
	source = epiphany.sh
	source = epiphany.desktop
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = epiphany-portable
	depends = portable
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gcr-4
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gmp
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libarchive
	depends = libportal
	depends = libportal-gtk4
	depends = libsecret
	depends = libsoup3
	depends = libxml2
	depends = nettle
	depends = pango
	depends = sqlite
	depends = webkitgtk-6.0
