pkgbase = wemeet-bwrap
	pkgdesc = Sandboxed wemeet, supports screensharing on Wayland / 沙盒化腾讯会议, 支持 Wayland 屏幕共享
	pkgver = 3.26.10.401
	pkgrel = 4
	url = https://source.meeting.qq.com/download-center.html
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	makedepends = desktop-file-utils
	makedepends = wemeet-bin
	makedepends = portable-packer
	depends = bash
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	depends = libyuv
	depends = wireplumber
	depends = qt5-wayland
	depends = opencv
	depends = libxrandr
	provides = wemeet
	provides = tencent-meeting
	provides = wemeet-wayland-screenshare
	conflicts = wemeet
	conflicts = tencent-meeting
	conflicts = wemeet-wayland-screenshare
	options = !emptydirs
	options = !debug
	source = wemeet-open
	source = portable-config
	source = start.sh
	source = com.tencent.wemeet.desktop
	sha512sums = e4d93db1dfc6f483138e5fae8dc50f5f724d00a87e7a18889b71bf9b5c6c9d4376440c01e6baf9f02eeb616660ddc2cdcdf37820fe78371abdb597061ab07846
	sha512sums = 50457596c01a732dc6e8797bdc5de53b3de47e13a703e832eacb5abf407a2b947ab6f5285338199ce8840a42e8082f1034545fadaee66d8469f39b0614096863
	sha512sums = d7f5298ce768094eaf2931805897144576c208b33ce7b758703ea7e0cdb1e8a5a5ab0dac2b792fb73702343e4a54280017348cf72d889e226eedfe4dc05004c0
	sha512sums = 1efed01fdca8513c216723cda0040a1c15802fae4d1ac5b75a49477818f4ab784ee68e53e75ed338addc4a960ec7c980f06e8066a4419050ec31d1f3fc3b3e2b

pkgname = wemeet-bwrap
	depends = bash
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	depends = libyuv
	depends = wireplumber
	depends = qt5-wayland
	depends = opencv
	depends = libxrandr
	depends = portable
