pkgbase = wemeet-bwrap
	pkgdesc = Sandboxed wemeet, supports screensharing on Wayland / 沙盒化腾讯会议, 支持 Wayland 屏幕共享
	pkgver = 3.26.10.401
	pkgrel = 1
	url = https://source.meeting.qq.com/download-center.html
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	makedepends = patchelf
	makedepends = cmake
	makedepends = git
	makedepends = libportal
	depends = bash
	depends = qt5-webengine
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	depends = libyuv
	depends = wireplumber
	depends = qt5-wayland
	depends = opencv
	depends = libxrandr
	provides = wemeet
	provides = tencent-meeting
	provides = wemeet-wayland-screenshare
	conflicts = wemeet
	conflicts = tencent-meeting
	conflicts = wemeet-wayland-screenshare
	source = wemeet.sh
	source = portable-config
	source = start.sh
	source = git+https://github.com/xuwd1/wemeet-wayland-screenshare.git
	sha512sums = ac2a0ca1795b00978224c83ed8a7a5e102d63dd9f9e991550c40382eccb869472da56cb683e335ece73ae092d5f2900191b7936750384b98d708b260efb35e44
	sha512sums = 1b223854871dd39274aca5d852b0e0379a8039f5227008affc490fd3f9f816f2963b7994502a9737c323aafea04eb4844c4a37a488be9e49c430b05f3bff4a2d
	sha512sums = d7f5298ce768094eaf2931805897144576c208b33ce7b758703ea7e0cdb1e8a5a5ab0dac2b792fb73702343e4a54280017348cf72d889e226eedfe4dc05004c0
	sha512sums = SKIP
	source_x86_64 = wemeet-3.26.10.401-x86_64.deb::https://updatecdn.meeting.qq.com/cos/72e0e0023e1d1e6d4123fba28821aea1/TencentMeeting_0300000000_3.26.10.401_x86_64_default.publish.deb
	sha512sums_x86_64 = acaa1eba8eccd3a5bd4cb57dc0fadce5c33950857677783944ac2bfbefbed927ca3b4b7d9d0c9e864dcdc3b9f9f8a359c456e9b63b38ac0fa9436fc336aa9ea7
	source_aarch64 = wemeet-3.26.10.401-aarch64.deb::https://updatecdn.meeting.qq.com/cos/c06d6bc4a3370dbfb2f43bbc6ff8969e/TencentMeeting_0300000000_3.26.10.401_arm64_default.publish.deb
	sha512sums_aarch64 = 6fb54c4972b6ebaf8e1ce576b4ea075ec1b1cd5d02702feef5382712a8bafc2ff85cbd6ab43c90e6e6c55627da77ecc1c8c58f4154e0a160247387f5b2972abc

pkgname = wemeet-bwrap
	depends = bash
	depends = qt5-webengine
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	depends = libyuv
	depends = wireplumber
	depends = qt5-wayland
	depends = opencv
	depends = libxrandr
	depends = portable
	depends = libportal
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-impl
