pkgbase = wemeet-bwrap
	pkgdesc = Sandboxed wemeet, supports screensharing on Wayland / 沙盒化腾讯会议, 支持 Wayland 屏幕共享
	pkgver = 3.26.10.401
	pkgrel = 3
	url = https://source.meeting.qq.com/download-center.html
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	makedepends = desktop-file-utils
	makedepends = wemeet-bin
	makedepends = portable-packer
	provides = wemeet
	provides = tencent-meeting
	provides = wemeet-wayland-screenshare
	conflicts = wemeet
	conflicts = tencent-meeting
	conflicts = wemeet-wayland-screenshare
	options = !emptydirs
	options = !debug
	source = wemeet-open
	source = config.toml
	source = com.tencent.wemeet.desktop
	sha512sums = 5fd275121faa76dcb4043034c1d0b2d48ae554848e069dfa2f2385b090dcedbee554ac5b233bcb500a3793d13427037bd74609f43dde935e75f601fce23d7758
	sha512sums = 57c22110da07fe1c482e825c60a6667d9c4acbf97178d0a4d1facf3b8b6c583c661d881187e196141548631acbaca7fcd796012ce31f1fd2743ca1eaef1012e8
	sha512sums = 1efed01fdca8513c216723cda0040a1c15802fae4d1ac5b75a49477818f4ab784ee68e53e75ed338addc4a960ec7c980f06e8066a4419050ec31d1f3fc3b3e2b

pkgname = wemeet-bwrap
	depends = qt5-x11extras
	depends = libxinerama
	depends = libpulse
	depends = gcc-libs
	depends = qt5-declarative
	depends = libglvnd
	depends = libxfixes
	depends = alsa-lib
	depends = qt5-webchannel
	depends = openssl
	depends = libxrandr
	depends = libxext
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	depends = zlib
	depends = libxcomposite
	depends = qt5-base
	depends = systemd-libs
	depends = libxdamage
	depends = qt5-svg
	depends = libyuv
	depends = wireplumber
	depends = qt5-wayland
	depends = opencv
	depends = libxrandr
	depends = portable
