pkgbase = linuxqq-portable
	pkgdesc = Linux QQ based on Electron, sandboxed by portable
	pkgver = 3.2.34_53644
	pkgrel = 1
	epoch = 1
	url = https://im.qq.com/linuxqq
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = LicenseRef-QQ
	makedepends = desktop-file-utils
	makedepends = linuxqq
	makedepends = portable-packer
	provides = linuxqq
	conflicts = linuxqq
	options = !strip
	options = !debug
	source = linuxqq.sh
	source = config.toml
	source = im.qq.app.desktop
	sha512sums = f9518c98958349ff50348fada6f0806f3528786d57e44960e3dfeaa7f6320c86901fd68197ec78097442ee25f713cc736df3aff99fe249b2bfe0df4c021fcacb
	sha512sums = 590a3775dacac264cf9fb12ca886eb1077fabcaa39153b70bf144c0cda61e530e400fa078a42d1d7e8202c937b863d095bb89e5b94623c971b1694d6cdcde584
	sha512sums = 05d9b95214f444f56ea1b2b6c9eb9456de1e403ab8f1a3025ccc4323618f54a697b107007de72e24161f1e044fee4f035c79573af8209cb6abfc3d70067b92c2

pkgname = linuxqq-portable
	depends = nss
	depends = alsa-lib
	depends = gtk3
	depends = at-spi2-core
	depends = libvips
	depends = openjpeg2
	depends = openslide
	depends = portable
	depends = libappindicator-gtk3
