pkgbase = linuxqq-portable
	pkgdesc = Linux QQ based on Electron, sandboxed by portable
	pkgver = 3.2.23_44343
	pkgrel = 2
	epoch = 1
	url = https://im.qq.com/linuxqq
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = LicenseRef-QQ
	depends = nss
	depends = alsa-lib
	depends = gtk3
	depends = at-spi2-core
	depends = libvips
	depends = openjpeg2
	depends = openslide
	depends = portable
	optdepends = libappindicator-gtk3: Allow QQ to extend a menu via Ayatana indicators in Unity, KDE or Systray (GTK+ 3 library).
	provides = linuxqq
	conflicts = linuxqq
	options = !strip
	options = !debug
	source = linuxqq.sh
	source = start.sh
	source = portable-config
	source = qq.desktop
	sha512sums = SKIP
	sha512sums = b6a955e64b69d98776346a5ec154d119e1acdc3bba364bf01bdcd6119ce20933f326d40990e7e477c3b7c741beb50e22da4ad2d6880538256245bdc31dcede0e
	sha512sums = ee3ad8fca56d6c10c6ffada797144552178e089228c1ac20cbca70199d7051ea01144ff8189207537ef5e9a7037efeb08dff62813dee19f19f0f892206fc6b6d
	sha512sums = SKIP
	source_x86_64 = https://dldir1.qq.com/qqfile/qq/QQNT/94704804/linuxqq_3.2.23-44343_amd64.deb
	sha512sums_x86_64 = SKIP
	source_aarch64 = https://dldir1.qq.com/qqfile/qq/QQNT/94704804/linuxqq_3.2.23-44343_arm64.deb
	sha512sums_aarch64 = SKIP
	source_loong64 = https://dldir1.qq.com/qqfile/qq/QQNT/94704804/linuxqq_3.2.23-44343_loongarch64.deb
	sha512sums_loong64 = SKIP

pkgname = linuxqq-portable
