[Desktop Entry]
Name=QQ
Exec=/usr/bin/linuxqq %U
Terminal=false
Type=Application
Icon=qq
StartupWMClass=QQ
Categories=Network
Comment=QQ sandboxed by Portable
Actions=opendir;quit
SingleMainWindow=true

[Desktop Action opendir]
Name=Open Data Home
Exec=/usr/bin/linuxqq --actions opendir
Icon=go-home-symbolic

[Desktop Action quit]
Name=Quit QQ
Exec=/usr/bin/linuxqq --actions quit
Icon=system-log-out-symbolic
