pkgbase = wps-office-cn-portable
	pkgdesc = Kingsoft Office (WPS Office) CN version - an office productivity suite
	pkgver = 12.1.2.23578
	pkgrel = 3
	url = https://linux.wps.cn
	arch = x86_64
	license = LicenseRef-WPS-EULA
	makedepends = desktop-file-utils
	makedepends = wps-office-cn=12.1.2.23578
	depends = portable
	replaces = wps-office-cn-bwrap
	options = !emptydirs
	source = portable-config
	source = wps-helper
	source = wps-office-wps.desktop
	sha1sums = de19eb2efaf516d222defb61117ef2e345afe86c
	sha1sums = 67a759a2bc8a0cc17eb75b0b524b163f0318cf32
	sha1sums = 63bd9f86898f53eb8455443e59a9f8afc6cdbd75

pkgname = wps-office-cn-portable
	depends = portable
	depends = fontconfig
	depends = xorg-mkfontscale
	depends = libxrender
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = xdg-utils
	depends = glu
	depends = sdl2
	depends = libpulse
	depends = hicolor-icon-theme
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libxslt
	depends = libjpeg-turbo
	optdepends = cups: Printing support
	optdepends = libjpeg-turbo: JPEG image codec support
	optdepends = pango: for complex (right-to-left) text support
	optdepends = curl: An URL retrieval utility and library
	optdepends = ttf-wps-fonts: Symbol fonts required by wps-office
	optdepends = ttf-ms-fonts: Microsft Fonts recommended for wps-office
	optdepends = wps-office-fonts: FZ TTF fonts provided by wps community
	optdepends = wps-office-mui-zh-cn: zh_CN support for WPS Office
	provides = wps-office
	provides = wps-office-cn
	conflicts = kingsoft-office
	conflicts = wps-office
	conflicts = wps-office-cn
