pkgbase = lutris-portable
	pkgdesc = Lutris by portable
	pkgver = 0.5.22
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = lutris
	makedepends = portable-packer
	provides = lutris
	conflicts = lutris
	options = !debug
	options = !strip
	source = config.toml
	source = desktop.file
	sha256sums = 0dc4a0d4db81c2b17082a5b2fb4ce704b51954b432aeafc04a02f263f13ce397
	sha256sums = 785c198258735b74e3a5a1c2c488acbd09ffc34bc943e90c7da57932e21946e4

pkgname = lutris-portable
	depends = portable
	depends = cabextract
	depends = curl
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-desktop
	depends = gobject-introspection-runtime
	depends = gtk3
	depends = hicolor-icon-theme
	depends = mesa-utils
	depends = p7zip
	depends = pango
	depends = psmisc
	depends = python
	depends = python-cairo
	depends = python-certifi
	depends = python-dbus
	depends = python-distro
	depends = python-evdev
	depends = python-gobject
	depends = python-lxml
	depends = python-moddb
	depends = python-pillow
	depends = python-requests
	depends = python-urllib3
	depends = python-yaml
	depends = unzip
	depends = webkit2gtk-4.1
	depends = xdg-desktop-portal-impl
	depends = xorg-xrandr
