pkgbase = steam-portable
	pkgdesc = Valve's digital software delivery system sandboxed by portable. Automatically uses discrete GPUs.
	pkgver = 1.0.0.85
	pkgrel = 2
	epoch = 1
	url = https://github.com/Kraftland/portable
	arch = x86_64
	license = LicenseRef-steam-subscriber-agreement
	makedepends = steam
	makedepends = coreutils
	provides = steam
	conflicts = steam
	options = !debug
	options = !strip
	source = portable-config
	source = steam.sh
	source = steam.desktop
	md5sums = ecc7d37e925ee97414a478f4e1b691cf
	md5sums = ba9839547fccab9c029c7947f123f7c1
	md5sums = 7e051f994b1dc0a0eae46149ad0255cb

pkgname = steam-portable
	depends = portable
	depends = bash
	depends = coreutils
	depends = curl
	depends = dbus
	depends = desktop-file-utils
	depends = diffutils
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libxcrypt
	depends = libxcrypt-compat
	depends = libxkbcommon-x11
	depends = lsb-release
	depends = lsof
	depends = nss
	depends = python
	depends = ttf-font
	depends = usbutils
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = xdg-user-dirs
	depends = xorg-xrandr
	depends = xz
	depends = zenity
	depends = lib32-alsa-plugins
	depends = lib32-fontconfig
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libgl
	depends = lib32-libgpg-error
	depends = lib32-libnm
	depends = lib32-libva
	depends = lib32-libx11
	depends = lib32-libxcrypt
	depends = lib32-libxcrypt-compat
	depends = lib32-libxinerama
	depends = lib32-libxss
	depends = lib32-nss
	depends = lib32-pipewire
	depends = lib32-systemd
	depends = lib32-vulkan-driver
	depends = lib32-vulkan-icd-loader
