pkgbase = feishu-portable
	pkgdesc = Linux client of Feishu (Lark) from Bytedance. Sandboxed by portable.
	pkgver = 7.72.23
	pkgrel = 1
	epoch = 1
	url = https://www.feishu.cn/
	arch = x86_64
	arch = aarch64
	license = LicenseRef-feishu
	makedepends = xdg-utils
	makedepends = portable-packer
	provides = feishu-bin
	provides = feishu
	conflicts = feishu
	conflicts = feishu-bin
	options = !debug
	options = !strip
	options = !emptydirs
	source = config.toml
	source = com.bytedance.feishu.desktop
	sha256sums = 6b6a0e4133a5736d1a51d50a477de6ec0635854d4ae9e5c522cd2e269dbbe56e
	sha256sums = b68ce66ce49ba599d2fb72f6746b132d430f9f57514aae8ef94697a0cfdd5591
	source_x86_64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/fc38d53a/Feishu-linux_x64-7.72.23.deb
	sha256sums_x86_64 = 7c744ce101e29f50d8d0fc099788b64cb389dde3178178a7fce9ffcdbf296e13
	source_aarch64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/8d668c7a/Feishu-linux_arm64-7.72.23.deb
	sha256sums_aarch64 = 8052d22189546438e24b3691d64871805961ecea7a45804c75a2960ed2b8710e

pkgname = feishu-portable
	depends = ca-certificates
	depends = gtk3
	depends = nss
	depends = xdg-utils
	depends = dnsmasq
	depends = portable
	depends = libmfx
	depends = libpulse
	depends = alsa-lib
