pkgbase = feishu-portable
	pkgdesc = Linux client of Feishu (Lark) from Bytedance. Sandboxed by portable.
	pkgver = 7.62.9
	pkgrel = 1
	epoch = 1
	url = https://www.feishu.cn/
	arch = x86_64
	arch = aarch64
	license = LicenseRef-feishu
	makedepends = xdg-utils
	makedepends = portable-packer
	provides = feishu-bin
	provides = feishu
	conflicts = feishu
	conflicts = feishu-bin
	options = !debug
	options = !strip
	options = !emptydirs
	source = config.toml
	source = com.bytedance.feishu.desktop
	sha256sums = 1c860975bdafada97b15a8ed358dbf1e7199feb300d5b6419a25046cd92628d4
	sha256sums = SKIP
	source_x86_64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/f63223d9/Feishu-linux_x64-7.62.9.deb
	sha256sums_x86_64 = f7a84e6002ac7ca699b6fbfe8e734290579e095bb0b9077048748f8390069883
	source_aarch64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/d95df105/Feishu-linux_arm64-7.62.9.deb
	sha256sums_aarch64 = 8fe7c4b4977e8da1d5dcd07e31783c6a792ce85ddc77c57f4f3d8f707310b76a

pkgname = feishu-portable
	depends = ca-certificates
	depends = gtk3
	depends = nss
	depends = xdg-utils
	depends = dnsmasq
	depends = portable
	depends = libmfx
	depends = libpulse
	depends = alsa-lib
	depends = xwaylandvideobridge
