pkgbase = obsidian-bwrap
	pkgdesc = A powerful knowledge base that works on top of a local folder of plain text Markdown files. Sandboxed by portable for privacy.
	pkgver = 1.10.6
	pkgrel = 1
	url = https://obsidian.md
	arch = x86_64
	license = custom:Commercial
	depends = zlib
	depends = hicolor-icon-theme
	depends = fuse
	depends = electron
	depends = portable
	options = !strip
	options = !debug
	source = obsidian.sh
	source = portable-config
	source = obsidian.desktop
	source = https://github.com/obsidianmd/obsidian-releases/releases/download/v1.10.6/obsidian-1.10.6.tar.gz
	sha256sums = 2c43aa33e989f946c2af48b07c3e7f3683356f91fcefa6d2970ac2531ed197a1
	sha256sums = f214b94550b967f71c44bdb0473c761a23fe8fda3dee43810d3bac4992dc9b20
	sha256sums = 88504345238b1142b43880d93cf8546993e18bdf1597074b4d4360d0ce22ca41
	sha256sums = 1596c81d8645ff9f6506b5b3e1a6963250d9372ceb58eb037551e53bc1b16f72

pkgname = obsidian-bwrap
